<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div><strong>Мои Финансы</strong></div>
            <nav>
                <a href="#">О сервисе</a>
                <a href="#">Возможности</a>
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            &copy; 2025 Мои Финансы — Все права защищены | <a href="#">Политика конфиденциальности</a>
        </footer>
    </body>
</html>
